// Primary Colors
$red: #c01c09;
$beige: #f1e4c4;

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/roboto.ttf');
}

html, body, #root, .app {
  font-size: 16px;
  width: 100%;
  height: 100%;
  margin: 0;
  background: $red;
  padding: .5rem;
}

.app {
  h1, h2, p, a, label {
    color: $beige;
    font-family: 'Roboto';
  }

  .hidden {
    opacity: 0;
    visibility: hidden;
  }
}